---
import Social from './Social.astro';
---

<footer>
  <!-- <p>Learn more about my projects on <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p> -->
  <Social platform="twitter" username="ifkarsyah" />
  <Social platform="github" username="sss" />
  <Social platform="youtube" username="aaa" />
</footer>